body{
background-color: rgb(169, 169, 140);

}
.top-container{
    position: relative;
    border: 1px;
  
}
.first-text{
     text-align: center;
    font-family: 'Permanent Marker',cursive;
    padding: 50px;
    font-size: 30px;
}
.background-pic{
   position: relative;
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
}
.lions-pic{
    width: 90%;
    margin-left: 55px;
    margin-right: 55px;
    padding-bottom: 0px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}
.info-container{
padding-top: 50px;
background-color: white;
width: 100%;

}
.heading{
   padding: 30px;
    font-size: 20px;  
    text-align: center;
}

.hello-head{
position: relative;
}

.hello-head{
text-align: center;

}
.info{
    text-align: center;
}
.hello{
    text-align: center;
    font-family: 'Permanent Marker',cursive;
    font-size: 50px;
    padding-bottom: 30px;
    color: gray;
}
.waving-hand{
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
    animation-name: slide;
    animation-duration: 1s;  
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;  
}
@keyframes slide{
    0% {
        transform: translateX(0) rotate(0deg); 
    }
    100% {
        transform: translateX(25px) rotate(90deg); 
    }
}
.dots{
    padding: 30px;
    font-size: 50px;
    color: gray;
}
.skils{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 20px ;
    max-width: 800px;
    margin: 40px auto;
    width: 100%;
}

.skils-pic{
    width: 150px;
    height: 150px;
    object-fit: cover;
    flex-direction: column;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}
.skils-head{
    font-family: cursive ;
    color:red;
    font-size: 25px;
}
.info{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.contactBtn{
   display: inline-block; 
    background-color: #9faddc; 
    color: white;
    padding: 15px 35px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none; 
    transition: 0.3s ease;
    box-shadow: 0 5px 12px rgba(0,0,0,0.2);
    padding-bottom: 20px;
    border-radius: 30%;
}
.contactBtn:hover{
    background-color: rgb(60, 12, 22);
    cursor: pointer;
}
.contactUrl{
    display: flex;
    justify-content:center;
    text-align: center;
    gap: 40px ;
    margin-top: 50px;
    font-style: italic;
    color: white;
}
.contactUrl:hover{
    color: aliceblue;
}
#copyright{
    text-align: center;
}
